extends base.pug

block content
	form(method='post')
		.sticky-top.pt-2.clearfix(style='background:rgba(255, 255, 255, 0.9)')
			.row
				h1.col-sm-10= "1. Choisissez vos calendriers"
				.col-sm-2.mt-2
					input.btn.btn-outline-primary.float-md-right(type='submit', value='Suivant')
			hr.col-12
		each calendars_at_letter, letter in calendars
			h2: a.d-block.text-muted(href='#letter_'+letter, data-toggle='collapse')= letter
			ul.list-unstyled.lead.p-0.collapse.show(id='letter_'+letter)
				each calendar in calendars_at_letter
					li
						label.custom-control.custom-checkbox(for=calendar.id)
							input.custom-control-input(type='checkbox', name=calendar.id, id=calendar.id)
							span.custom-control-indicator
							span.custom-constrol.description.font-weight-bold= calendar.name
							if calendar.display
									span.font-italic.text-muted= ' ('+calendar.display+')'