extends base.pug

block content
	form(method='post')
		.sticky-top.pt-2.clearfix(style='background:rgba(255, 255, 255, 0.9)')
			.row
				h1.col-sm-10= "2. Cochez les matières à ignorer"
				.col-sm-2.mt-2
					input.btn.btn-outline-primary.float-md-right(type='submit', value='Terminer')
			hr.col-12
		each group, index in subjects
			h2: a.d-block.text-muted(href='#'+ids[index], data-toggle='collapse')= names[index]
			ul.list-unstyled.lead.p-0.collapse.show(id=ids[index])
				each subid, subject in group
					li
						label.custom-control.custom-checkbox(for=index+'_'+subid)
							input.custom-control-input(type='checkbox', name=index+'_'+subid, id=index+'_'+subid)
							span.custom-control-indicator
							span.custom-constrol.description= subject
